html,
body,
#root
{
    height: 100%;
    margin: 0
}

.App {
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.result-container {
    display: flex;
}

.product-overview {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.item-description {
    text-align: left;
}

.input-search-bar-wrapper {
    border: 2px solid red;
    border-radius: 30px;
    text-align: center;
}

.input-search-bar {
    width: 95%;
}
